APP_NAME=grotesk-app
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
DATABASE_DRIVER=postgresql+asyncpg
DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_ECHO=false

POSTGRES_DB=grotesk
POSTGRES_USER=grotesk
POSTGRES_PASSWORD=

RABBITMQ_DEFAULT_USER=grotesk
RABBITMQ_DEFAULT_PASS=
